html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center; background:#95A0A9}
p{margin:0 10px 10px}
div#header{position:relative; background:#FFEA78;padding-bottom:1em;color:#333333}
div#header h1{height:2em;line-height:2em;margin:0;font-size:3em}
.container{background: #D75700}
div#content{padding-bottom:1em;}
div#content p{line-height:1.4; color:#F2F2F2}

div#container2{clear:left; float:left; width:100%; overflow:hidden; background:#6DAA57}
div#container1{float:left; width:100%; background:#3FB1DE; position:relative; right:50%}
div#feedback{float:left; width:46%; position:relative; left:52%; overflow:hidden; text-align:left}
div#feedback h4{margin-top: 1em; margin-bottom: 1em}
div#credits h4{margin-top: 1em; margin-bottom: 1em}
div#credits{float:left; width:46%; position:relative; left:56%; overflow:hidden; text-align:left}


div#footer{background: #333;color: #FFF; clear:both; float:left; width:100%; margin:0;}
div#footer a{display:inline;padding:0;color: #C6D5FD}

div#page-border{width:75%; background:white; margin:0 auto}
div#footer{clear:both;}


.centeredmenu {
   float:left;
   width:100%;
   /*border-bottom:4px solid #000;*/
   overflow:hidden;
   position:relative;
}
.centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
.centeredmenu ul li a {
   display:block;
   margin:0 0 0 0px;
   padding:8px 10px;
   color:#fff;
   text-decoration:none;
   line-height:1.3em;
   font-size: 1.2em;
}
.centeredmenu ul li a:hover {
   background:green;
   color:#fff;
}
.centeredmenu ul li a.active,
.centeredmenu ul li a.active:hover {
   color:#000;
   background:#FFEA78;
   font-weight:bold;
}

.regions {
	background-color: #d77029;
}

.regions ul li a {
	background-color: #d77029;
}

.filters {
	background-color: #d78349;
}

.filters ul li a {
	background-color: #d78349;
}



div.area {width:95%; background:#F2F2F2; padding: 1em 0em; margin-top:1em; display:inline-block}
div.area h3{color:#333333}
.place {
	width:12em;
	height:4em;
	background:#CCCCCC;
	margin: 0.5em 0.5em;
	padding: 0;
	font-size: 1.6em;
	color:#F2F2F2;
	display:inline-block;
	border:2px solid #444444
}
div.status-0 { background: green }
div.status-1 { background: deepskyblue }
div.status-2 { background: darkred }
div.status-3 { background: orange }
h3 {margin: 0em; font-size:2em;}
.status {
	font-size:1.5em;
	font-weight:bold;
}

.place h4 {
	margin: 0 0 .2em 0;
	padding-top: 0.5em;
}

.place .place-link {
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
	clear: bottom;
}

.place a.place-link:visited {
	color: white;
	text-decoration: none;
}
