<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ info.title }}</title>

	<link href="/static/the.css" rel="stylesheet" />
	<link href="/static/skeleton.css" rel="stylesheet" />

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% include "analytics.txt" ignore missing %}
	<meta property="og:image" content="https://si0.twimg.com/profile_images/1690936185/eecs_logo_blockM_blue_background.jpg" />
</head>
<body>
	<div class="container">

		<div id="header" class="sixteen columns">
			<h1>OmNomNorth.net</h1>
			<h2>Answering the question "What's still open on North Campus?" for {{ info.days }} days.</h2>
			{% for region in info['regions'] %}
			<a href="{{ region }}">{{ translate(region) }}</a>
				{% if not loop.last %} | {% endif %}
			{% endfor %}
		</div>

		<div id="content" class="column">
			{% for area in info['area_order'] %}
			<div class="area" id="{{ area }}">
				<h3>{{ translate(area) }}</h3>
				{% for place in places[area] %}
				<div class="place status-{{ place.status }}" id="{{ place.name }}">
					{% if place.url is defined %}
					<a class="place-link" href="{{ place.url }}" title="{{place.happy_hours}}">
					{% endif %}
						<h4 class="name">{{ translate(place.name) }}</h4>
						<span class="status">{{ translate(place.status) }}</span>
					{% if place.url is defined %}
					</a>
					{% endif %}
					<!--
					{% if place.happy_hours is defined %}
					{% for hh in place.happy_hours %}
						{{ hh }}<br />
					{% endfor %}
					{% endif %}
					-->
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>


		<div id="container2">
			<div id="container1">
				<div class="one-half column" id="feedback">
					<h4>Feedback</h4>
					<p>I want your feedback, requests, and complaints! I'm doing my best here, but it's likely that something here will be wrong at some point. Let me know at <a href="mailto:feedback@omnomnorth.net">feedback@omnomnorth.net</a>.</p>
				</div>
				<div class="one-half column" id="credits">
					<h4>Credits</h4>
					<p>This website brought to you by Diet Mountain Dew, Taylor Swift, Python, and the letter &apos;Q&apos;.</p>
				</div>
			</div>
		</div>

		<div id="footer" class="column">
			(c) 2012 <a href="http://kylelady.com/">Kyle Lady</a>
		</div>

	</div>
</body>

</html>
